---
  - name: Set root Passwort
    ansible.builtin.user:
      name: root
      password: '{{ baserole_root_password_hash | d("*") }}'
    tags:
      - userlocal

  - name: Bashrc for root
    ansible.builtin.template:
      src: "{{ baserole_bashrc_template }}"
      dest: "/root/.bashrc"
      mode: '0600'
    when:
      - baserole_bashrc_configure
    tags:
      - bash

  - name: Configure vim
    ansible.builtin.template:
      src: "{{ baserole_vimrc_template }}"
      dest: "/root/.vimrc"
      mode: '0600'
    when:
      - baserole_vimrc_configure
      - baserole_default_editor == "vim"
    tags:
      - vim

  - name: Configure nano
    ansible.builtin.template:
      src: "{{ baserole_nanorc_template }}"
      dest: "/root/.nanorc"
      mode: '0600'
    when:
      - baserole_nanorc_configure
      - baserole_default_editor == "nano"
    tags:
      - nano

  - name: Create .ssh dir for root
    ansible.builtin.file:
      path: "/root/.ssh"
      state: directory
      owner: "root"
      group: "root"
      mode: '0700'
    tags:
      - ssh
      - userlocal

    - name: Template SSH private key for root
      ansible.builtin.copy:
        content: "{{ baserole_root_ssh_key_file_content }}"
        dest: "/root/{{ baserole_root_ssh_key_file_name }}"
        owner: "root"
        group: "root"
        mode: '0600'
      no_log: true
      when:
        - baserole_root_ssh_key_file_content is defined
        - baserole_root_ssh_key_file_content|length > 0
        - baserole_root_ssh_key_file_name is defined
        - baserole_root_ssh_key_file_name|length > 0
      tags:
        - pubkey
        - ssh

  - name: Copy pubkeys to authorized_keys for root
    ansible.builtin.copy:
      src: "{{ baserole_root_authorizedkeys }}"
      dest: "/root/.ssh/authorized_keys"
      owner: root
      group: root
      mode: '0600'
    when:
      - baserole_root_authorizedkeys is defined
    tags:
      - pubkey
      - ssh
      - userlocal
