# The IP address (typically localhost) and port that the NetBox WSGI process should listen on
bind = '{{ netbox_listen_address+':'+netbox_listen_port|string }}'
command = '{{ netbox_virtualenv + '/bin/gunicorn' }}'

user = '{{ netbox_user }}'

# Number of gunicorn workers to spawn. This should typically be 2n+1, where
# n is the number of CPU cores present.
workers = 5

# Timeout (in seconds) for a request to complete
timeout = 120

# The maximum number of requests a worker can handle before being respawned
max_requests = 5000
max_requests_jitter = 500
