  "PluginSettings": {
    "Enable": true,
    "EnableUploads": false,
    "AllowInsecureDownloadURL": false,
    "EnableHealthCheck": true,
    "Directory": "./plugins",
    "ClientDirectory": "./client/plugins",
    "Plugins": {},
    "PluginStates": {
      "com.mattermost.nps": {
        "Enable": true
      },
      "focalboard": {
        "Enable": true
      },
      "playbooks": {
        "Enable": true
      }
    },
    "EnableMarketplace": true,
    "EnableRemoteMarketplace": true,
    "AutomaticPrepackagedPlugins": true,
    "RequirePluginSignature": false,
    "MarketplaceURL": "https://api.integrations.mattermost.com",
    "SignaturePublicKeyFiles": [],
    "ChimeraOAuthProxyURL": ""
  },
