# {{ ansible_managed }}
#
UserParameter=postfix.active, sudo {{ zabbix_scripts_dir }}/{{ zabbix_scripts_postfix_stats_filename }} active
UserParameter=postfix.deferred, sudo {{ zabbix_scripts_dir }}/{{ zabbix_scripts_postfix_stats_filename }} deferred
UserParameter=postfix.incoming, sudo {{ zabbix_scripts_dir }}/{{ zabbix_scripts_postfix_stats_filename }} incoming
UserParameter=postfix.maildrop, sudo {{ zabbix_scripts_dir }}/{{ zabbix_scripts_postfix_stats_filename }} maildrop
UserParameter=postfix.queue, sudo {{ zabbix_scripts_dir }}/{{ zabbix_scripts_postfix_stats_filename }} queue
UserParameter=postfix.tempblocked, sudo {{ zabbix_scripts_dir }}/{{ zabbix_scripts_postfix_stats_filename }} tempblocked
