{{ zabbix_user }} ALL=(ALL) NOPASSWD: {{ zabbix_scripts_dir }}/{{ zabbix_wireguard_script_filename }} INTERFACES
{{ zabbix_user }} ALL=(ALL) NOPASSWD: {{ zabbix_scripts_dir }}/{{ zabbix_wireguard_script_filename }} PEERS
{{ zabbix_user }} ALL=(ALL) NOPASSWD: /usr/bin/wg show *
