# {{ ansible_managed }}
version: '3'

services:
  vaultwarden:
    image: {{ vaultwarden_image }}:{{ vaultwarden_version | default('latest') }}
    container_name: {{ vaultwarden_container_name }}
    restart: always
    env_file:
      - {{ vaultwarden_docker_env_file }}
    volumes:
      - ./data:/data
    ports:
      - "{{ vaultwarden_listen }}:80"
