# {{ ansible_managed }}
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults. Local configuration
# should be created by either modifying this file, or by creating "drop-ins" in
# the journald.conf.d/ subdirectory. The latter is generally recommended.
# Defaults can be restored by simply deleting this file and all drop-ins.
#
# Use 'systemd-analyze cat-config systemd/journald.conf' to display the full config.
#
# See journald.conf(5) for details.
# web version: https://www.freedesktop.org/software/systemd/man/journald.conf.html

[Journal]
{% if baserole_journald_storage is defined %}
Storage={{ baserole_journald_storage }}
{% else %}
#Storage=auto
{% endif %}
{% if baserole_journald_compress is defined %}
Compress={{ baserole_journald_compress|lower }}
{% else %}
#Compress=yes
{% endif %}
{% if baserole_journald_seal is defined %}
Seal={{ baserole_journald_seal|lower }}
{% else %}
#Seal=yes
{% endif %}
{% if baserole_journald_splitMode is defined %}
SplitMode={{ baserole_journald_splitMode }}
{% else %}
#SplitMode=uid
{% endif %}
{% if baserole_journald_syncintervalsec is defined %}
SyncIntervalSec={{ baserole_journald_syncintervalsec }}
{% else %}
#SyncIntervalSec=5m
{% endif %}
{% if baserole_journald_ratelimitintervalsec is defined %}
RateLimitIntervalSec={{ baserole_journald_ratelimitintervalsec }}
{% else %}
#RateLimitIntervalSec=30s
{% endif %}
{% if baserole_journald_ratelimitburst is defined %}
RateLimitBurst={{ baserole_journald_ratelimitburst }}
{% else %}
#RateLimitBurst=10000
{% endif %}
{% if baserole_journald_systemmaxuse is defined %}
SystemMaxUse={{ baserole_journald_systemmaxuse }}
{% else %}
#SystemMaxUse=
{% endif %}
{% if baserole_journald_systemkeepfree is defined %}
SystemKeepFree={{ baserole_journald_systemkeepfree }}
{% else %}
#SystemKeepFree=
{% endif %}
{% if baserole_journald_systemmaxfilesize is defined %}
SystemMaxFileSize={{ baserole_journald_systemmaxfilesize }}
{% else %}
#SystemMaxFileSize=
{% endif %}
{% if baserole_journald_systemmaxfiles is defined %}
SystemMaxFiles={{ baserole_journald_systemmaxfiles }}
{% else %}
#SystemMaxFiles=100
{% endif %}
{% if baserole_journald_runtimemaxuse is defined %}
RuntimeMaxUse={{ baserole_journald_runtimemaxuse }}
{% else %}
#RuntimeMaxUse=
{% endif %}
{% if baserole_journald_runtimekeepfree is defined %}
RuntimeKeepFree={{ baserole_journald_runtimekeepfree }}
{% else %}
#RuntimeKeepFree=
{% endif %}
{% if baserole_journald_runtimemaxfileSize is defined %}
RuntimeMaxFileSize={{ baserole_journald_runtimemaxfileSize }}
{% else %}
#RuntimeMaxFileSize=
{% endif %}
{% if baserole_journald_runtimemaxfiles is defined %}
RuntimeMaxFiles={{ baserole_journald_runtimemaxfiles }}
{% else %}
#RuntimeMaxFiles=100
{% endif %}
{% if baserole_journald_maxretentionsec is defined %}
MaxRetentionSec={{ baserole_journald_maxretentionsec }}
{% else %}
#MaxRetentionSec=
{% endif %}
{% if baserole_journald_maxfilesec is defined %}
MaxFileSec={{ baserole_journald_maxfilesec }}
{% else %}
#MaxFileSec=1month
{% endif %}
{% if baserole_journald_forwardtosyslog is defined %}
ForwardToSyslog={{ baserole_journald_forwardtosyslog|lower }}
{% else %}
#ForwardToSyslog=no
{% endif %}
{% if baserole_journald_forwardtokmsg is defined %}
ForwardToKMsg={{ baserole_journald_forwardtokmsg|lower }}
{% else %}
#ForwardToKMsg=no
{% endif %}
{% if baserole_journald_forwardtoconsole is defined %}
ForwardToConsole={{ baserole_journald_forwardtoconsole|lower }}
{% else %}
#ForwardToConsole=no
{% endif %}
{% if baserole_journald_forwardtowall is defined %}
ForwardToWall={{ baserole_journald_forwardtowall|lower }}
{% else %}
#ForwardToWall=yes
{% endif %}
{% if baserole_journald_ttypath is defined %}
TTYPath={{ baserole_journald_ttypath }}
{% else %}
#TTYPath=/dev/console
{% endif %}
{% if baserole_journald_maxlevelstore is defined %}
MaxLevelStore={{ baserole_journald_maxlevelstore }}
{% else %}
#MaxLevelStore=debug
{% endif %}
{% if baserole_journald_maxlevelsyslog is defined %}
MaxLevelSyslog={{ baserole_journald_maxlevelsyslog }}
{% else %}
#MaxLevelSyslog=debug
{% endif %}
{% if baserole_journald_maxlevelkmsg is defined %}
MaxLevelKMsg={{ baserole_journald_maxlevelkmsg }}
{% else %}
#MaxLevelKMsg=notice
{% endif %}
{% if baserole_journald_maxlevelconsole is defined %}
MaxLevelConsole={{ baserole_journald_maxlevelconsole }}
{% else %}
#MaxLevelConsole=info
{% endif %}
{% if baserole_journald_maxlevelwall is defined %}
MaxLevelWall={{ baserole_journald_maxlevelwall }}
{% else %}
#MaxLevelWall=emerg
{% endif %}
{% if baserole_journald_linemax is defined %}
LineMax={{ baserole_journald_linemax }}
{% else %}
#LineMax=48K
{% endif %}
{% if baserole_journald_readkmsg is defined %}
ReadKMsg={{ baserole_journald_readkmsg|lower }}
{% else %}
#ReadKMsg=yes
{% endif %}
{% if baserole_journald_audit is defined %}
Audit={{ baserole_journald_audit|lower }}
{% else %}
#Audit=no
{% endif %}
