# Install and configure Bacula-console
---
- name: Setup CONSOLE | Remove old Bacula console packages if using official repository
  ansible.builtin.apt:
    name:
      - bacula-console
      - bacula-common
    state: absent
    purge: false
  when:
    - bacula_use_official_repo | default(false) | bool
    - ansible_facts['os_family'] == 'Debian'
  tags:
    - packages

- name: Setup Console | Install bacula-console package
  package:
    name: "{{ bacula_console_packages_official if bacula_use_official_repo | default(false) | bool else bacula_console_packages }}"
    state: "{{ 'latest' if bacula_use_official_repo | default(false) | bool else 'present' }}"
  tags:
    - packages

- name: Setup Console | Manage configuration of bacula-console
  template:
    src: "{{ role_path }}/templates/bconsole.conf.j2"
    dest: "{{ bacula_console_config }}"
    owner: "{{ bacula_console_user }}"
    group: "{{ bacula_console_group }}"
    mode: "{{ bacula_console_filemode }}"
