---
# defaults file for ansible-role-bacula

# Bacula official repository configuration (for Bacula 10+)
# Set to true to use official Bacula repositories instead of distribution packages
bacula_use_official_repo: false

# Registration access key from https://www.bacula.org/bacula-binary-package-download/
# REQUIRED when bacula_use_official_repo is true
bacula_repo_access_key: ""

# Bacula version to install from official repository
bacula_version: "13.0.4"

# GPG signing key for Bacula packages
bacula_gpg_key_url: "https://www.bacula.org/downloads/Bacula-4096-Distribution-Verification-key.asc"

# Supported distributions for official repository (latest 2 versions only)
# Debian: bookworm (12), trixie (13 - when released)
# Ubuntu: jammy (22.04), noble (24.04)
bacula_supported_distributions:
  - bookworm
  - trixie
  - jammy
  - noble

# Distribution repository mapping
# Some distributions may not have native packages in Bacula repo yet
# Map them to compatible older releases
bacula_repo_distribution_map:
  bookworm: bookworm
  trixie: bookworm  # trixie not yet in Bacula repo, use bookworm
  jammy: jammy
  noble: jammy  # noble not yet in Bacula repo, use jammy packages

# will be overriden later (see register-facts.yml):
bacula_fd_fqdn: "{{ ansible_facts['fqdn'] }}"
bacula_sd_fqdn: "{{ ansible_facts['fqdn'] }}"

# Ansible SSH delegation targets for director and SD
# These are used by delegate_to in tasks that modify configs on director/SD
# Default: same as bacula_dir_fqdn/bacula_sd_fqdn
# Override when Ansible control machine cannot reach the same address clients use
# Example: clients use LAN IP, but Ansible must use WireGuard FQDN
bacula_dir_fqdn_ssh: "{{ bacula_dir_fqdn }}"
bacula_sd_fqdn_ssh: "{{ bacula_sd_fqdn }}"

# Service names for delegated operations (used in handlers)
# These should match the service names on the director/SD servers
# Override these in director/SD host_vars if using distribution packages
bacula_dir_service_name_delegated: "bacula-dir"
bacula_sd_service_name_delegated: "bacula-sd"

# FD listen address: IP/interface the FD binds to for incoming connections
# Default: 0.0.0.0 (listen on all interfaces)
# Note: This is different from bacula_fd_connect_address (used by Director to connect)
bacula_fd_listen_address: "0.0.0.0"

# Director listen address: IP/interface the Director binds to for incoming connections
# Default: 0.0.0.0 (listen on all interfaces for Console connections)
bacula_dir_listen_address: "0.0.0.0"

# Storage Daemon listen address: IP/interface the SD binds to for incoming connections
# Default: 0.0.0.0 (listen on all interfaces for FD/Director connections)
bacula_sd_listen_address: "0.0.0.0"

bacula_dir_name: "bacula-dir"
bacula_mon_name: "bacula-mon"
bacula_sd_name: "bacula-sd"
bacula_fd_name: "{{ bacula_fd_fqdn }}-fd"
bacula_fd_job_name: "{{ bacula_fd_fqdn }}-Backup"
bacula_fd_jobdefs_name: "{{ bacula_fd_fqdn }}-Jobdef"

bacula_dir_restore_path: "/var/bacula-restores"

# you may override the values to a real@domain.tld address
bacula_dir_email_admin: root
bacula_dir_email_operator: root

# Mail command configuration
# Options: "bsmtp" (Bacula's built-in SMTP) or "mail" (system mail command)
bacula_mail_command_type: "mail"
# Mail command binary paths
bacula_mail_command_bsmtp: "/usr/sbin/bsmtp"  # For Debian packages
bacula_mail_command_bsmtp_official: "/opt/bacula/bin/bsmtp"  # For official repo
bacula_mail_command_mail: "/usr/bin/mail"  # System mail command
# Sender address for system mail command (mail -r option)
# If not set, defaults to user running bacula-dir (typically 'bacula')
bacula_mail_from: "root"

# decide what component is needed.
# fd is default, override via host_vars
bacula_fd_role: True
bacula_dir_role: False
bacula_sd_role: False
bacula_console_role: False

# passwords will be generated when empty
bacula_console_password: ""
bacula_mon_password: ""
bacula_sd_password: ""
bacula_fd_password: ""
# keep FDpassword when not defined in vars:
bacula_fd_auto_psk: True

# Default DB engine (can be 'pgsql' or 'mysql'):
bacula_dir_db_engine: mysql
bacula_dir_dbname: "bacula"
bacula_dir_dbaddress: "localhost"
# login for DB creation only (optional, ansible is falling back to "config_file" "~/.my.cnf"):
bacula_dir_db_adminuser: ""
bacula_dir_db_adminpass: ""

# standard ports - mysql: 3306, psql: 5432
bacula_dir_dbport: "{{ '3306' if bacula_dir_db_engine == 'mysql' else '5432' }}"

bacula_dir_dbuser: "bacula"
bacula_dir_dbpassword: ""
# do nothing DB-Related (Create DB, user, grant, import tables):
bacula_ignore_database: False
# activate no_log for sensitive data (turn off for debugging)
bacula_debug_no_log: True

# destroy database if present (all data is lost!)
bacula_dir_db_destroy: False

# maintenance_db might have another name (i.e. on digitalocean its "defaultdb"):
bacula_dir_pgsql_maintenance_db_name: "postgres"
# if not set, ansible might complain about different encodings (bacula needs SQL_ASCII, not UTF8)
# bacula_dir_pgsql_template_db_name: "template0"
bacula_dir_pgsql_db_name_unix_socket: "postgresql_unix_socket_directories[0]"

bacula_catalog: "BaculaCatalog"
# uid/group/mode of files we template out:
bacula_console_user: root
bacula_console_group: bacula
bacula_console_filemode: '0640'
bacula_fd_user: root
bacula_fd_group: bacula
bacula_fd_filemode: '0600'
bacula_dir_user: bacula
bacula_dir_group: root
bacula_dir_filemode: '0640'
bacula_sd_user: bacula
bacula_sd_group: root
bacula_sd_filemode: '0640'
bacula_dir_messages: "Standard"
bacula_sd_messages: "Standard"
bacula_fd_max_jobs: 5
bacula_dir_max_jobs: 10
bacula_sd_max_jobs: 15
bacula_sd_device_max_jobs: "{{ bacula_sd_max_jobs }}"

# define which storage device-template we use:
# include all vars from that template to stay compatible
bacula_sd_device_template: "storage_device_include_ringbuffer.j2"

# define port defaults in case they got overriden later:
bacula_dir_port_default: 9101
bacula_fd_port_default: 9102
bacula_sd_port_default: 9103
bacula_dir_port: "{{ bacula_dir_port_default }}"
bacula_fd_port: "{{ bacula_fd_port_default }}"
bacula_sd_port: "{{ bacula_sd_port_default }}"

# must be the same:
bacula_dir_storage_name: "{{ bacula_sd_device_name }}"

# Storage Definitions
bacula_sd_device_name: "RingBuffer"
bacula_sd_media_type: "File"
# where to storge the volumes:
bacula_sd_archive_device: "/var/bacula-volumes"
bacula_dir_pool_name: "Files"
bacula_dir_pool_label_format: "Bacula-Vol-"
bacula_dir_pool_recycle: "yes"
# bacula will purge the oldest volume (regardless of rentention times),
# useful for ringbuffer setups (no manual interventions!):
bacula_dir_pool_purge_oldest_volume: "yes"
# Default: 60 days
bacula_dir_pool_file_retention: "60 days"
# Default: 6 months
bacula_dir_pool_job_retention: "6 months"
# Prune expired Jobs/Files:
bacula_dir_pool_autoprune: "yes"
bacula_dir_pool_volume_rention: "365 days"
bacula_dir_pool_max_volume_bytes: "10G"
bacula_dir_pool_max_volumes: 100

# timeout-settings (both defaulting to 30min):
bacula_dir_fd_connect_time: "5 minutes"
bacula_dir_sd_connect_time: "30 minutes"

bacula_dir_allow_duplicate_jobs: "no"
bacula_dir_cancel_running_duplicates: "yes"
# when changing fileset (includes, excludes) bacula promotes level to Full
# this settings avoids that behavior, not recommended but saves space when extending the fileset:
bacula_fd_fileset_ignore_changes: False

# Extend Options in resssources:
# bacula_fd_extra_fileset_options: |+
#    Option1 = Value1
# bacula_fd_extra_jobdefs_options: |+
#    Option1 = Value1
# bacula_fd_extra_jobs_options: |+
#    Option1 = Value1
# bacula_fd_extra_client_options |+
#    Option1 = Value1
# bacula_dir_extra_director_options: |+
#    Option1 = Value1

# extend SD device-section with extra options
# (makes only sense if predefined template for bacula_sd_device_template should be used, if you override that template anyway, you need to add these options there):
#bacula_sd_device_extra_options: |+
#  Option1 = Value1

# define extra systemwide filesets:
# bacula_dir_fileset_extra_template: ""

# define extra systemwide schedules:
# bacula_dir_schedule_extra_template: ""

# ADD more director/monitors (define variable bacula_extra_mon_password for this example):
# bacula_fd_extra_directors_allowed: |+
#Director {
#  Name = ExtraMonitor
#  Password = "{{ bacula_extra_mon_password }}"
#  Monitor = yes
#}

# define extra message ressource for this dir/mon too:
#bacula_fd_extra_messages: |+
#Messages {
#  Name = 2ndDir
#  director = bacula_dir_no2 = all, !skipped, !restored
#}


# FD Fileset definitions:
# Default fileset:
bacula_fd_fileset_name: "Standard"
# overrides:
#bacula_fd_fileset_includes: |+
#    File = "/etc"
#    File = "/home"
#    File = "/root"
#    File = "/var/log"
#bacula_fd_fileset_excludes: |+
#    File = "/proc"

# protect existing filesets?
bacula_fd_fileset_overwrite: True

# Remove fileset configuration when removing client with --tags remove-client
# Set to true to also remove the fileset config (only if not shared with other clients)
# Note: --tags disable-client sets Enabled=no without removing files
#       --tags remove-client removes the config files completely
bacula_fd_remove_fileset: False

bacula_fd_fileset_signature: "SHA1"
bacula_fd_fileset_compression: "GZIP"
bacula_fd_fileset_verify: "pins1"
# stay on current filesystems (regardless of submounts?) yes (bacula-default) -> stay
bacula_fd_fileset_onefs: "yes"
bacula_fd_level: "Incremental"
bacula_fd_messages: "Standard"
# pool (on dir) our fd takes:
bacula_fd_pool: "{{ bacula_dir_pool_name }}"
bacula_fd_priority: 10
bacula_fd_schedule: "WeeklyCycle"
bacula_fd_storage: "{{ bacula_dir_storage_name }}"
bacula_fd_type: "Backup"

# set to False if handlers should not restart/reload DIR and SD services
bacula_reload_services: True
bacula_restart_services: True
