---
bacula_config_dir: "/etc/bacula"
bacula_console_config: "{{ bacula_config_dir }}/bconsole.conf"
bacula_dir_config: "{{ bacula_config_dir }}/bacula-dir.conf"
bacula_sd_config: "{{ bacula_config_dir }}/bacula-sd.conf"
bacula_dir_include_config_dir: "{{ bacula_config_dir }}/conf.d"
bacula_fd_auto_psk_file_filename: "{{ bacula_config_dir }}/bacula_fd_psk_auto.secret"
bacula_logfile: "/var/log/bacula/bacula.log"
bacula_system_service_file: "/etc/services"
bacula_workingdirectory: "/var/db/bacula"
bacula_piddirectory: "/var/run"
bacula_plugindirectory: "/usr/local/lib"
bacula_fd_package_name: "bacula-fd"
bacula_fd_service_name: "bacula-fd"
# FIXME ALL following values needs to be verified:
bacula_fd_binary: "/usr/sbin/bacula-fd"
bacula_dir_binary: "/usr/sbin/bacula-dir"
bacula_dir_service_name: "bacula-dir"
bacula_sd_binary: "/usr/sbin/bacula-sd"
bacula_sd_service_name: "bacula-sd"
bacula_dir_queryfile: /etc/bacula/scripts/query.sql
bacula_dir_dbimport_mysql_file: "/usr/share/dbconfig-common/data/bacula-director-mysql/install/mysql"
bacula_dir_dbimport_pgsql_file: "/usr/share/dbconfig-common/data/bacula-director-pgsql/install/pgsql"
bacula_dir_dbimport_pgsql_dbsettings: "/usr/share/dbconfig-common/data/bacula-director-pgsql/install-dbadmin/pgsql"

bacula_dir_packages_mysql:
- bacula-bscan
- bacula-director
- bacula-director-mysql
bacula_dir_packages_pgsql:
- bacula-bscan
- bacula-director
- bacula-director-pgsql
bacula_console_packages:
- bacula-console
bacula_sd_packages:
- bacula-sd
