---
bacula_base_dir: "C:\\Program Files\\Bacula"
# override in case the following does not work (not sure this works):
bacula_config_dir: "{{ bacula_base_dir }}"
bacula_console_config: "{{ bacula_config_dir }}/bconsole.conf"
bacula_dir_config: "{{ bacula_config_dir }}/bacula-dir.conf"
bacula_sd_config: "{{ bacula_config_dir }}/bacula-sd.conf"
bacula_fd_auto_psk_file_filename: "{{ bacula_config_dir }}/bacula_fd_psk_auto.secret.txt"
bacula_windir: "{{ ansible_env.WINDIR }}"
bacula_system_service_file: "{{ bacula_windir }}\\drivers\\etc\\services"
# bacula_logfile: "not needed"
bacula_workingdirectory: "{{ bacula_base_dir }}\\working"
bacula_piddirectory: "{{ bacula_base_dir }}\\working"
bacula_plugindirectory: "{{ bacula_base_dir }}\\plugins"
bacula_fd_package_name: "bacula-fd"
bacula_fd_service_name: "Bacula-fd"
# FIXME needs to be verified:
bacula_fd_binary: "{{ bacula_base_dir }}/bacula-fd.exe"
