# {{ ansible_managed }}
server {
  listen 80 {% if semaphore_nginx_remove_default_config %}default_server{% endif %};
  listen [::]:80 {% if semaphore_nginx_remove_default_config %}default_server{% endif %};
  server_name {{ semaphore_hostname }};

  location / {
    # remember: 301 = moved permanently (search engines will react), 302 = moved temporarily (search engines will hold back)
    return 301 https://$server_name$request_uri;
  }
}

server {
  listen 443 ssl http2 {% if semaphore_nginx_remove_default_config %}default_server{% endif %};
  listen [::]:443 ssl http2 {% if semaphore_nginx_remove_default_config %}default_server{% endif %};
  server_name {{ semaphore_hostname }};

  client_max_body_size 0;
  chunked_transfer_encoding on;

{% if semaphore_nginx_use_nginx_common_snippet %}
  include {{ semaphore_nginx_tls_hardening_snippet }};
{% else %}
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_prefer_server_ciphers on;
  ssl_ciphers CHACHA20:-AES:AESGCM:AESCCM:!kRSA:!PSK:!aECDSA:!aDSS:!aNULL:!eNULL:!SHA1:!MD5;
  ssl_ecdh_curve X25519:secp521r1:secp384r1;
{% if semaphore_tls_hsts_enable %}
  add_header Strict-Transport-Security "max-age={{ semaphore_tls_hsts_time }}";
{% endif %}
{% endif %}

  ssl_certificate {{ semaphore_nginx_ssl_certificate }};
  ssl_certificate_key {{ semaphore_nginx_ssl_certificate_key }};

  location / {
    proxy_set_header Host      $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_set_header   Upgrade $http_upgrade;
    proxy_set_header   Connection "upgrade";
    proxy_pass         http://{{ semaphore_listen_ip }}:{{ semaphore_port }};
    proxy_read_timeout 30;

    proxy_buffering off;
    proxy_request_buffering off;
  }

  location /api/ws {
    proxy_pass http://{{ semaphore_listen_ip }}:{{ semaphore_port }}/api/ws;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Origin "";
  }
}
