actions {
	reject = 150;
	add_header = 5;
	greylist = 4;
}

group "MX" {
	symbol "MX_INVALID" {
	  score = 0.5;
	  description = "No connectable MX";
	  one_shot = true;
	}
	symbol "MX_MISSING" {
	  score = 2.0;
	  description = "No MX record";
	  one_shot = true;
	}
	symbol "MX_GOOD" {
	  score = -0.01;
	  description = "MX was ok";
	  one_shot = true;
	}
}

symbol "RWL_SPAMHAUS_WL_IND" {
    weight = -0.7;
    description = "Sender listed at Spamhaus whitelist";
}
