{{ ansible_managed | comment }}

deb [arch=amd64] http://rspamd.com/apt-stable/ {{ ansible_distribution_release }} main
#deb-src [arch=amd64] http://rspamd.com/apt-stable/ {{ ansible_distribution_release }} main
